git+https://github.com/open-mmlab/mmcv.git@d409eedc816fccfb1c8d57e5eed5f03bd075f327
git+https://github.com/Lakonik/mmgeneration.git@500a93e474638c87dcaf8fad94cfbe1ef29acd1f
git+https://github.com/NVlabs/nvdiffrast.git@c5caf7bdb8a2448acc491a9faa47753972edd380
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
dearpygui==1.8.0
lpips==0.1.4
PyMCubes==0.1.2
trimesh==4.1.4
videoio
transformers
diffusers[torch]==0.18.2
triton
torch_redstone
torchsde
kornia>=0.7.0
gdown>=4.7.1
gradio==4.18.0
pygltflib==1.16.1
MiniballCpp==0.2.3
timm
xatlas
fast-simplification
tensorboard
setuptools
apex==0.9.10dev
einops==0.6.0
yacs>=0.1.8
pytorch-lightning
pymatting
